[package]
name = "jet-margin-sdk"
version = "0.1.0"
edition = "2021"

[lib]
name = "jet_margin_sdk"
path = "src/lib.rs"

[features]
testing = ["jet-control/testing", "jet-margin/testing", "jet-metadata/testing", "jet-margin-pool/testing", "jet-margin-swap/testing"]

[dependencies]
anyhow = "1"
async-recursion = "1"
async-trait = "0.1"
base64 = "0.13"
bincode = "1.3"
bytemuck = "1"
futures = "0.3"
thiserror = "1"
tokio = { version = "1", features = ["rt"] }
rand = { version = "0.8.5" }
serde = { version = "1", features = ["derive"] }
# Only used to manually construct RPC calls for versioned transactions, remove when upgrading to 1.14
serde_json = "1"

agnostic-orderbook = { git = "https://github.com/jet-lab/agnostic-orderbook.git", branch = "main", features = ["lib", "utils"] }

pyth-sdk-solana = "0.7"
solana-sdk = "1.11"
# Only used to manually construct RPC calls for versioned transactions, remove when upgrading to 1.14
solana-client = "1.11"
# Only used to manually construct RPC calls for versioned transactions, remove when upgrading to 1.14
solana-transaction-status = "1.11"
solana-address-lookup-table-program = "1.11"

anchor-lang = { git = "https://github.com/jet-lab/anchor", branch = "temp-version-bump-1-11" }
anchor-spl = { git = "https://github.com/jet-lab/anchor", branch = "temp-version-bump-1-11" }
anchor-client = { git = "https://github.com/jet-lab/anchor", branch = "temp-version-bump-1-11" }

# waiting on PR 10 to be merged
jet-simulation = { git = "https://github.com/jet-lab/jet-simulation", branch = "master" }
jet-program-common = { path = "../program-common" }
jet-test-service = { path = "../../../programs/test-service", features = ["no-entrypoint"] }
jet-fixed-term = { path = "../../../programs/fixed-term", features = ["no-entrypoint", "cli"] }
jet-airspace = { path = "../../../programs/airspace", features = ["no-entrypoint"] }
jet-control = { path = "../../../programs/control", features = ["no-entrypoint"] }
jet-margin = { path = "../../../programs/margin", features = ["no-entrypoint"] }
jet-metadata = { path = "../../../programs/metadata", features = ["no-entrypoint"] }
jet-margin-pool = { path = "../../../programs/margin-pool", features = ["no-entrypoint"] }
jet-margin-swap = { path = "../../../programs/margin-swap", features = ["no-entrypoint"] }

# Token swaps
spl-token = "3"
spl-token-swap = { version = "2", features = ["no-entrypoint"] }
spl-associated-token-account = "1"
saber-client = { package = "stable-swap-client", git = "https://github.com/jet-lab/stable-swap", branch = "master" }

[dev-dependencies]
jet-static-program-registry = { path = "../static-program-registry" }