* @suscd @partiallysorted @nevi-me @dnut @jetjake @tristyn
.dockerignore @dnut @suscd @jetjake @davodesign84
.github/ @dnut @suscd @jetjake @davodesign84
Dockerfile @dnut @suscd @jetjake @davodesign84
programs/ @dnut @suscd


