ignore/**
lib
dist
test-ledger
tests/oracle-mirror.pid
.cargo

.anchor
.DS_Store
.terraform*
*.tgz
target
**/*.rs.bk
node_modules
lcov.info
.husky
.vscode
yarn-error.log
tsconfig.tsbuildinfo

**/build/**
!.gitkeep
!package.json
localnet.config.json
localnet.config.legacy.json

.env
.localnet
# documentations

.turbo
