@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
  padding: 2em;
  background-color: #333333;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  color: #d2d2d2;
}

a {
  color: #dbe1ea !important;
  font-size: 1.5em;
}

.logo {
  height: 4em;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tree {
  font-size: 1.5em;
  border-bottom-style: solid;
  border-bottom-color: #d2d2d2;
  padding: 2em 0 1em 0;
}

.card {
  background-color: #292929 !important;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  padding: 0 2em;
}

.card.hoverable:hover {
  background-color: #212121 !important;
}

.lang {
  color: #86ceb8;
  font-weight: 400;
  font-size: 1.2em;
  /* line-height: 1.5em; */
  text-transform: uppercase;
}
