@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

body {
  margin: 0;
  background-color: #0e1718;
}


a {
  color: #3d9e83;
}
a:visited {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: #8ebbb1;
}
a:focus {
  text-decoration: none;
  color: #8ebbb1;
} 

#title{
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 50px;
  color: #278db6;
  text-align: center;
  flex-direction: column;
  margin-top: 5em;
}
#link-tree {
  background-color: transparent;
  display: flex;
  justify-content: center;
  justify-items: center;
  position: absolute;
  height: 200px;
  width: 600px;
  text-align: center;
  flex-direction: column;
  top: calc(50% - 100px);
  left: calc(50% - 300px);
  font-size: 30px;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}
